@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(rgb(255, 250, 239), white, rgb(217, 253, 251)); */
    margin: 0px;
}
p{
    color: dimgray;
}
h1{
    font-size: 2.5rem;
}
.orange-highlight{
    color: orange;
}
.top-banner{
    background: url("./Images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.dream-area{
    background-image: url("./Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#experiance{
    text-align: center;
}
.single-experiance{
    box-shadow: 10px 10px 30px rgba(212, 211, 211, 0.993);
    height: 50%;
    background: white;
    border-radius: 5px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(187, 187, 235), rgb(150, 235, 235));
    border-image-slice: 1;
}

footer p{
    text-align: center;
}

@media (max-width: 500px){
    .half-width{
        float: none;
    }
}